* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#color{

    background-color: blue;
}

.iconos-nav{
    width: auto;
    height: auto;
    margin: 0px;
    margin-left: 50px;
    display: inline-flex;
    
   
}


.container-fluid {
   
    width: 0px;
    height: auto;
    margin: 0px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.red-social {

    width: auto;
    height: auto;
    margin: 10px;
    margin-left: 30px;
    display:flex;
    

}

.imagen{
    width: 100%;
    height: 800px;
    background: url(pexels-isabella-mendes-341013.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.perfil {

    margin-left: 100px;


}